<div id="primary-content">
	<div class="container-pages-home">
		<div id="flip-element">
			<h1 class="title-name"> Hey, I'm Ashleigh Wilson</h1>
		</div>
		<hr class="featurette-divider">
		<div id="bounce-right">
			<p class="lead">Personal Statement</p>
			<p class="beta-p">Inspiring 23 year old girl with a tenacious drive to learn new skill sets.</p>
			<p class="beta-p">Seeking to begin a new career after dedicating the last 3 years of my life to home caregiving.</p>
		</div>
		
		<div class="container-image-home">
			<div id="zoom-content">
				<img src="https://pbs.twimg.com/profile_images/572237802746548224/GaWI6vpY_400x400.jpeg" class="img-responsive2" alt="Ashleigh Wilson">
			</div>
		</div>
		
		<div id="bounceleft-content">
			<h4>My Emploment goal</h4>
			<p><i>find work in ..</i></p>
			<div class="home-goal">
				<h1 class="homegoal-text">Fashion and Beauty | Retail Sales</h1>
			</div>
			<p class="beta-p">I would prefer to work in retail clothing & beauty, but will consider all job offers.</p>
		</div>
		<hr class="featurette-divider">
		<%= image_tag("personal.png", alt: " Ashleigh Wilson personal details") %> 
		<p class="beta-p">I am located in Christchurch New Zealand.</p>
		<p class="beta-p">
			<i>For all other personal details including my home address, phone, email, & mobile</i> <a><%= link_to "please contact me here", contact_path %></a>. 
   	</p>
		<p class="beta-p">My Social links</p>
		<p>
			<a href="https://www.facebook.com/Ash19910/" target="_blank">
   			<%= image_tag("icon_facebook_tiny.png", alt: "Ashleigh Wilson facebook") %>  
			</a>
			<a href="https://twitter.com/ashleighamywils" target="_blank">
   			<%= image_tag("icon_twitter_tiny.png", alt: "Ashleigh Wilson twitter") %> 
			</a>			
		</p>
		<hr class="featurette-divider">
		<div class="home-instruc">
			<p> Check out the rest of my awesome CV by clicking <b><i> "My CV"</i></b> above.</p>
		</div>
	</div>
</div>
<div class="container-share">
	<%= render_shareable :buttons=> [ 'linkedin','google_plus','twitter' ] %>
</div>
